Requires:

FSLNets
https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FSLNets

FACS scatterplot
https://uk.mathworks.com/matlabcentral/fileexchange/8430-flow-cytometry-data-reader-and-visualization?focused=6779476&tab=function

